.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: $main-color;
}

.datepicker {
  z-index: 1151 !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  border-color: $main-color;
  background-color: $main-color;
}

.modal .box {
  border: none;
}

.btn-custom, .box-custom.box-solid > .box-header,
.skin-custom .main-header .navbar,
.skin-custom .main-header .logo,
.skin-custom .main-header .logo:hover,
.skin-custom .main-header .navbar .sidebar-toggle:hover {
  background-color: $main-color;
  border-color: $main-color-border;
  color: $font-color-light;
}

.skin-custom .main-header li.user-header {
  background-color: $main-color;
}

.box-custom {
  border-top-color: $main-color-border;
}

.content-header > .separator {
  background-color: $main-color;
  height: 3px;
}

.login-wrapper {
  background: url(../images/background.jpg) center;
  background-size: cover;
  height: 100vh;
  top: 0;
  position: absolute;
  width: 100vw;
  -webkit-filter: blur(5px);
}

.login-box-body {
  position: relative;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $main-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $main-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.login-page {
  a {
    color: #000000;
  }
  .company-name {
    margin-top: 4%;
  }
}

.cropit-preview {
  background: url('../images/upload-arrow.png') no-repeat center;
  //width: 640px;
  //height: 390px;
  //background-color: #ebebf6;
}


.hover-image .container {
  position: relative;
  width: 50%;
}

.hover-image .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hover-image .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.hover-image .container:hover .image {
  opacity: 0.3;
}

.hover-image .container:hover .middle {
  opacity: 1;
}

.hover-image .text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}